.kk-scrollbar {
  --scrollbar-size: 5px !important;
  --scrollbar-thumb-color: var(--sky-blue) !important;
  --scrollbar-thumb-hover-color: var(--royal-blue) !important;
  --scrollbar-border-radius: 4px !important;
}