:root {
  --royal-blue: #3b5eda;
  --sky-blue: #5472df;
  --light-blue: #5ca7ff;
  --smoky-black: #0f0f0f;
  --deep-black: #080808;
  --smooth-black: #1e1e1e;
  --chilly-black: #303030;
  --almost-white: #fefefe;
  --shade-of-grey: #cccccc;
  --violet: #800080
}