:root {
  --royal-blue: #3B5EDA;
  --sky-blue: #5472DF;
  --light-blue: #5CA7FF;
  --smoky-black: #0F0F0F;
  --deep-black: #080808;
  --smooth-black: #1E1E1E;
  --chilly-black: #303030;
  --almost-white: #FEFEFE;
  --shade-of-grey: #CCCCCC;
}