<swiper-container init="false" [id]="id+'-swiper'">
    <swiper-slide *ngFor="let item of series; let i = index">
      <div class="p-2">
        <div class="relative">
          <a [routerLink]="['/series', item.pseudo]" class="absolute w-full aspect-video items-center justify-center opacity-20 transition-opacity flex">
            <div class="w-full h-full absolute bg-zinc-800 rounded-md opacity-70 ">
            </div>
            <ng-icon name="matPlayArrow" class="material-icons text-slate-300 text-7xl"></ng-icon>
          </a>
        </div>
        <div class="aspect-video">
          <img [id]="id+'-swiper-img-'+i" class="rounded-md object-cover aspect-video" [src]="item.imageUrl" alt="Anime series">
        </div>
        <p class="text-base mt-2 text-shade-of-grey">{{ item.titleJpRom }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
