<div id="episodesListFragment">
  @if ((totalCount$ | async) > 0) {
    <div class="flex items-center justify-between w-full">
      <h1 class="text-xl font-bold mb-6">Lista Odcinków:</h1>
      @if (direction === 'desc' && (totalCount$ | async) > 2) {
        <button (click)="setDirectionAscHandler()" class="flex gap-x-0.5 items-center">
          Malejąco
          <ng-icon class="text-2xl" name="matArrowDropDown"></ng-icon>
        </button>
      }
      @if (direction === 'asc' && (totalCount$ | async) > 2) {
        <button (click)="setDirectionDescHandler()" class="flex gap-x-0.5 items-center">
          Rosnąco
          <ng-icon class="text-2xl" name="matArrowDropUp"></ng-icon>
        </button>
      }
    </div>
  }

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 content-center gap-y-2 lg:gap-y-4 2xl:gap-y-8 gap-x-2 lg:gap-x-4 2xl:gap-x-8">
    <ng-container [ngTemplateOutlet]="(loading$ | async) ? loadingTpl : contentTpl"></ng-container>
  </div>
</div>

<ng-template #contentTpl>
  @for (item of (episodes$ | async);track item.id) {
    <a [routerLink]="[item.episodeno]" fragment="episodePlayer" class="w-full flex bg-deep-black hover:opacity-70 transition-opacity">
      <div class="aspect-square bg-sky-blue font-josefin text-4xl w-3/12 flex items-center justify-center">
        @if (item.episodeno === 0) {
          <span class="translate-y-0.5">01</span>
        }
        @if (item.episodeno < 10 && item.episodeno !== 0) {
          <span class="translate-y-0.5">0{{ item.episodeno }}</span>
        }
        @if (item.episodeno >= 10) {
          <span class="translate-y-0.5">{{ item.episodeno }}</span>
        }
      </div>
      <div class="h-full w-9/12 flex flex-col justify-center gap-y-1 px-4 py-2">
        <p class="text-md">{{ item.title }}</p>
      </div>
    </a>
  }
  @if (canLoadMore$ | async) {
    <button (click)="loadEpisodesHandler()" class="w-full flex bg-deep-black hover:opacity-70 transition-opacity">
      <div class="aspect-square bg-sky-blue font-josefin text-4xl w-3/12 flex items-center justify-center">
        <ng-icon name="matExpandMore"></ng-icon>
      </div>
      <div class="h-full w-9/12 flex flex-col justify-center gap-y-1 px-4 py-2 text-xl font-bold">
        Załaduj więcej
      </div>
    </button>
  }
  <ng-container [ngTemplateOutlet]="(loading$ | async) ? loadingTpl : null"></ng-container>
</ng-template>

<ng-template #loadingTpl>
  @for (_ of [].constructor(12);track _) {
    <div class="w-full flex bg-deep-black animate-pulse">
      <div class="aspect-square bg-sky-blue font-josefin text-4xl w-3/12 flex items-center justify-center">
      </div>
      <div class="h-full w-9/12 flex flex-col justify-center gap-y-1 px-4 py-2">
      </div>
    </div>
  }
</ng-template>