<div class="py-4">
  <h1 class="px-4 md:px-16 text-xl font-bold mb-6">{{ sectionTitle }}:</h1>
  <div class="relative">
    <button class="swiper-button-prev-unique absolute left-3 top-[45%] -translate-y-1/2 hover:opacity-70">
      <ng-icon class="text-5xl" name="matNavigateBefore"></ng-icon>
    </button>
    <div class="px-4 md:px-16">
      <swiper-container init="false" [id]="id+'-swiper'">
        @for (item of series;track item) {
          <swiper-slide>
            <a [routerLink]="['/series', item.pseudolink]" class="aspect-poster w-full transition-opacity hover:opacity-70">
              <img class="object-fit rounded-lg" alt="Seria anime" [src]="item.poster">
              <p class="mt-2 text-center line-clamp-1 text-sm">{{ item.title }}</p>
            </a>
          </swiper-slide>
        }
      </swiper-container>
    </div>
    <button class="swiper-button-next-unique absolute right-3 top-[45%] -translate-y-1/2 hover:opacity-70">
      <ng-icon class="text-5xl" name="matNavigateNext"></ng-icon>
    </button>
  </div>
</div>