<div id="episodePlayer">
  <h1 class="text-xl font-bold mb-6">Odtwarzacz:</h1>
  <ng-container [ngTemplateOutlet]="(loading$ | async) ? loadingTpl : contentTpl"></ng-container>
</div>

<ng-template #contentTpl>
  <div class="flex flex-col lg:grid lg:grid-cols-2 xl:grid-cols-3 gap-x-10 gap-y-5">
    <h3 class="col-span-3 font-bold text-base mb-2">Oglądasz: <span class="text-sky-blue">{{ title }}</span></h3>
    <div class="xl:col-span-2">
      <ng-container [ngTemplateOutlet]="(hasPlayers$ | async) ? playerTpl : emptyLinksTpl"></ng-container>

      <ng-template #emptyLinksTpl>
        <div class="w-full aspect-video bg-gray-600">
        </div>
      </ng-template>

      <ng-template #playerTpl>
        <div class="w-full bg-deep-black h-full lg:min-h-[420px] p-2 flex items-center">
          <div class="relative h-0 pb-[56.25%] w-full">
            <iframe allow="fullscreen" class="absolute top-0 left-0 w-full h-full" [src]="form.get('linkUrl').value | playerUrl"></iframe>
          </div>
        </div>
      </ng-template>
    </div>

    @if (episode$ | async;as item) {
      <div class="rounded-xl border-2 border-solid border-[#000000] flex flex-col relative pb-24">
        <div class="w-full h-20 flex">
          <div class="aspect-square rounded-tl-xl h-20 bg-sky-blue flex items-center justify-center font-josefin text-4xl">
            @if (item.episodeno === 0) {
              <span class="translate-y-0.5">01</span>
            }
            @if (item.episodeno < 10 && item.episodeno !== 0) {
              <span class="translate-y-0.5">0{{ item.episodeno }}</span>
            }
            @if (item.episodeno >= 10) {
              <span class="translate-y-0.5">{{ item.episodeno }}</span>
            }
          </div>

          <div class="w-full bg-[#000000] h-full flex flex-col justify-center px-4">
            <h2 class="text-xl">{{ item.title }}</h2>
          </div>
        </div>

        <form [formGroup]="form" class="flex flex-col gap-y-1 2xl:gap-y-3 text-almost-white text-sm 2xl:text-base h-full">
          <ng-scrollbar class="synopsis-max-h kk-scrollbar">
            <div scrollViewport>
              <div class="pt-4 pl-4 pr-8 text-justify">
                <span class="font-bold">Opis odcinka:</span>
                Chwilowo brak.
              </div>
            </div>
          </ng-scrollbar>

          @if (hasPlayers$ | async) {
            <div class="flex w-full justify-between items-center px-5 mt-5 lg:pt-0">
              <span class="font-bold">Tłumaczenie:</span>
              <div class="kk-select-dark kk-select-no-close w-48">
                <ng-select [searchable]="false" (change)="changeTranslatorHandler()" formControlName="selectedTranslator" placeholder="Wybierz">
                  @for (link of players$ | async;track link;let i = $index) {
                    <ng-option [value]="i">{{ link.translator }}</ng-option>
                  }
                </ng-select>
              </div>
            </div>
          }

          @if (hasPlayers$ | async) {
            <div class="flex w-full justify-between px-5">
              <span class="font-bold">Serwis:</span>
              <div class="kk-select-dark kk-select-no-close w-48">
                <ng-select [searchable]="false" formControlName="linkUrl" placeholder="Wybierz">
                  @for (link of playersMirrors$ | async;track link) {
                    <ng-option [value]="link.playerlink">{{ link.playername }}</ng-option>
                  }
                </ng-select>
              </div>
            </div>
          }
        </form>

        @if (episodesCount$ | async;as episodesCount) {
          <div class="flex gap-x-0.5 absolute w-full bottom-0">
            @if (item.episodeno === 1) {
              <a class="w-1/3 text-center py-3 bg-smooth-black rounded-bl-xl opacity-50">Poprzedni</a>
            }
            @if (item.episodeno !== 1) {
              <a [routerLink]="['../', (item.episodeno - 1)]" fragment="episodePlayer" class="w-1/3 text-center py-3 bg-smooth-black rounded-bl-xl hover:opacity-70 transition-opacity">Poprzedni</a>
            }
            <a routerLink="../" fragment="episodesListFragment" class="w-1/3 text-center py-3 bg-smooth-black hover:opacity-70 transition-opacity">Lista</a>
            @if (item.episodeno === episodesCount) {
              <a class="w-1/3 text-center py-3 bg-smooth-black rounded-bl-xl opacity-50">Następny</a>
            }
            @if (item.episodeno !== episodesCount) {
              <a [routerLink]="['../', (item.episodeno + 1)]" fragment="episodePlayer" class="w-1/3 text-center py-3 bg-smooth-black rounded-br-xl hover:opacity-70 transition-opacity">Następny</a>
            }
          </div>
        }
      </div>
    }
  </div>
</ng-template>

<ng-template #loadingTpl>
  <div class="w-full flex justify-center py-24">
    <kk-loading-spinner></kk-loading-spinner>
  </div>
</ng-template>