<div class="py-4">
  <h1 class="text-xl font-lato mb-6">
    <span @dropEnter>{{ sectionTitle }}:</span>
    <span *ngIf="showTotalCount" @dropEnter class="text-shade-of-grey opacity-70 ms-2">({{ totalCount }})</span>
  </h1>
  <ng-container [ngTemplateOutlet]="series.length > 0 ? contentTpl : emptyTpl"></ng-container>
  <ng-container [ngTemplateOutlet]="(loading && totalCount > series.length) ? loadingTpl : null"></ng-container>
</div>

<ng-template #contentTpl>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-7 3xl:grid-cols-9 gap-2 md:gap-8">
    <kk-series-thumbnail @dropEnter *ngFor="let item of series; trackBy: trackByFn" [series]="item"></kk-series-thumbnail>
  </div>
</ng-template>

<ng-template #emptyTpl>
  <div @dropEnter class="w-full flex justify-center items-center pt-3 flex-col gap-y-6">
    <ng-icon class="text-5xl opacity-50" name="bootstrapXCircle"></ng-icon>
    <p class="font-josefin text-xl opacity-50 text-center">
      Nie udało znaleźć się serii. <br/>
      <span class="text-base opacity-80">Najpewniej nie posiadamy takowej w naszej bazie.</span>
    </p>
  </div>
</ng-template>

<ng-template #loadingTpl>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 3xl:grid-cols-9 gap-2 md:gap-8">
    <div *ngFor="let _ of [].constructor(16)" class="bg-smooth-black aspect-card w-full rounded-lg h-full animate-pulse">
    </div>
  </div>
</ng-template>