<div class="w-full relative kk-search">
  <ng-select [items]="series$ | async"
             [typeahead]="seriesInput$"
             loadingText="Trwa szukanie..."
             [(ngModel)]="innerValue"
             placeholder="Szukaj..."
             notFoundText="Nie znaleziono serii..."
             [openOnEnter]="false"
             typeToSearchText="Szukaj wyników"
             (close)="clearState()"
             (search)="setPhrase($event)"
             (ngModelChange)="updateChanges()"
             #selectComponent
  >
    <ng-template ng-option-tmp let-item="item">
      <a [routerLink]="['/series', item.pseudo_link]" class="h-14 flex items-center gap-x-3">
        <div class="h-14">
          <img class="object-contain h-14" alt="thumbnail" [src]="item.poster">
        </div>
        <div class="text-ellipsis overflow-hidden w-10/12">
          <p>{{ item.title }}</p>
          <p class="uppercase text-gray-500">{{ item.anime_type }} ● EP {{ item.ep_count }}</p>
        </div>
      </a>
    </ng-template>
    <ng-template ng-label-tmp let-item="item">
      <div class="translate-y-0.5 w-9/12 text-ellipsis overflow-hidden">
        {{ item.title }}
      </div>
    </ng-template>
  </ng-select>

  <button class="absolute -translate-y-[30px] right-3 z-[9909]">
    <ng-icon name="matSearch" class="material-icons text-deep-black relative z-[9909] text-2xl"></ng-icon>
  </button>
</div>
