<nav *kkIsBreakpoint="768" class="absolute top-0 left-0 w-full flex items-center justify-between py-6 px-10 z-50">
  <a routerLink="/">
    <kk-logo></kk-logo>
  </a>
  <div class="flex font-josefin text-sm items-center gap-x-10">
    <a *kkIsBreakpoint="1024" routerLink="/" class="hover:opacity-70 transition-opacity">Strona Główna</a>
    <a *kkIsBreakpoint="1024" routerLink="/browser" class="hover:opacity-70 transition-opacity">Anime</a>
    <p (click)="openModal()" *kkIsBreakpoint="1024" class="hover:opacity-70 transition-opacity">Rejestracja</p>
    <p (click)="openModalLog()" *kkIsBreakpoint="1024" class="hover:opacity-70 transition-opacity">Zaloguj</p>
    <div class="w-96">
      <kk-search-autocomplete [(ngModel)]="search"></kk-search-autocomplete>
    </div>
  </div>
</nav>

<nav *kkIsBreakpoint="0; max 767">
  <a routerLink="/" class="absolute top-0 left-0 p-4 z-50">
    <kk-logo></kk-logo>
  </a>

  <nav class="bg-almost-white text-smoky-black p-2 bottom-0 fixed flex justify-around items-center w-full z-50">
    <a class="flex items-center" routerLink="/">
      <ng-icon name="matHome" class="text-3xl"></ng-icon>
    </a>
    <a class="flex items-center" routerLink="/browser">
      <ng-icon name="matSearch" class="text-3xl"></ng-icon>
    </a>
  </nav>
</nav>

<ng-container [ngTemplateOutlet]="(online$ | async) ? null : offlineTpl"></ng-container>

<ng-template #offlineTpl>
  <div class="fixed bottom-20 lg:bottom-8 right-4 lg:right-10 z-50">
    <div class="bg-rose-600 px-4 py-2 rounded-full flex items-center gap-x-2 opacity-80">
      <ng-icon class="text-xl -translate-y-0.5" name="matWifiOff"></ng-icon>
      <span class="font-roboto">Brak połączenia</span>
    </div>
  </div>
</ng-template>