.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

label {
  position: absolute;
  font-size: 12px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--smoky-black);
  color: #646464;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.25s ease-in-out;
  transform-origin: left top;
  pointer-events: none;
}

input {
  width: 100%;
  font-size: 12px;
  outline: none;
  border: 2px solid #646464;
  border-radius: 5px;
  padding: 12px 40px 12px 14px;
  transition: 0.15s ease-in-out;
  background-color: var(--smoky-black);
  color: var(--almost-white)
}

input:focus {
  border-color: var(--sky-blue) !important;
}

input:focus + label {
  color: var(--sky-blue) !important;
  top: 0;
  transform: translateY(-50%) !important;
  font-size: 10px;
}

input:not(:placeholder-shown)+label {
  top: 0;
  transform: translateY(-50%) !important;
}

input:not(:focus)::placeholder {
  opacity: 0;
}

input:not(:placeholder-shown) {
  border-color: var(--almost-white)
}

input:not(:placeholder-shown) + label {
  border-color: var(--almost-white);
  color: var(--almost-white);
}