<kk-modal label="Rejestracja">
  <kk-stepper [items]="steps"/>

  <form (ngSubmit)="signUpHandler()" [formGroup]="form" class="pt-24 flex flex-col gap-y-6 px-20 pb-16">
    <kk-input type="text" label="Adres E-mail" placeholder="Adres E-mail" formControlName="email"/>
    <kk-input type="text" label="Login" placeholder="login" formControlName="login"/>
    <kk-input type="password" label="Hasło" placeholder="Hasło" formControlName="password"/>
    <div class="flex gap-y-4 flex-col">
      <kk-input type="password" label="Powtórz hasło" placeholder="Powtórz hasło" formControlName="confirmedPassword"/>
      <kk-checkbox formControlName="acceptedPolicy">
        <span class="text-xs leading-6 text-almost-white">
          Zapoznałem się z
            <a class="text-sky-blue">
              Polityką Prywatności
            </a>
          oraz
          <a class="text-sky-blue">
            Warunkami Użytkowania
          </a>
        </span>
      </kk-checkbox>
    </div>

    <div class="flex flex-col gap-y-2">
      <button type="submit" (click)="signUpHandler()" [disabled]="form.invalid"
              class="rounded-md p-3 bg-sky-blue text-xs mt-3 disabled:opacity-80 disabled:cursor-not-allowed"
      >
        Zarejestruj Konto
      </button>

      <p class="text-center text-xs">
        Masz już założone konto?
        <a (click)="changeModalToLogin()" class="text-sky-blue hover:cursor-pointer">
          Zaloguj się
        </a>
      </p>
    </div>

  </form>
</kk-modal>