<footer id="footer" class="w-full bg-deep-black py-5 px-3 flex flex-col items-center">
  <a routerLink="/" class="py-2">
    <kk-logo></kk-logo>
  </a>

  <div class="px-2 lg:px-32 py-5">
    <span class="text-justify lg:text-center text-almost-white text-[10px] lg:text-sm">
      <p>Naszą misją jest poszerzanie dostępności anime w języku polskim. Zważając na to - naszym celem nie jest konkurowanie z oficjalnymi wydawcami. Serie, które zostały wydane oficjalnie, są ze strony usuwane. W serwisie Kakkoii znaleźć można jedynie fanowskie tłumaczenia z napisami, by nie działać na szkodę wydawców. Jeżeli jednak - jakkolwiek - na stronie został naruszony czyjś interes, prosimy o kontakt przedstawiciela danego podmiotu na adres mailowy: xseoos@gmail.com</p>
    </span>
  </div>

  <div class="flex justify-center items-center py-5 gap-x-12">
    <a href="https://www.facebook.com/profile.php?id=100092641251453" target="_blank" class="rounded-full w-14 h-14 flex items-center justify-center border-[1px] border-slate-400 border-solid hover:opacity-70 transition-opacity">
      <ng-icon class="text-3xl text-royal-blue" name="bootstrapFacebook"></ng-icon>
    </a>

    <a href="https://discord.gg/q8vGT2sxD6" target="_blank" class="rounded-full w-14 h-14 flex items-center justify-center border-[1px] border-slate-400 border-solid hover:opacity-70 transition-opacity">
      <ng-icon class="text-3xl text-royal-blue" name="bootstrapDiscord"></ng-icon>
    </a>

    <a href="https://twitter.com/Anime_Kakkoii" target="_blank" class="rounded-full w-14 h-14 flex items-center justify-center border-[1px] border-slate-400 border-solid hover:opacity-70 transition-opacity">
      <ng-icon class="text-3xl text-royal-blue" name="bootstrapTwitter"></ng-icon>
    </a>
  </div>

  <div class="px-2 grid grid-cols-2 gap-y-14 lg:grid-cols-2 gap-x-10 lg:gap-x-36 pt-5">
    <div class="flex flex-col gap-y-2">
      <h1 class="pb-1 font-bold text-lg">Menu</h1>
      <a routerLink="/" class="text-sm hover:opacity-60 transition-opacity">Strona Główna</a>
      <a routerLink="/browser" class="text-sm hover:opacity-60 transition-opacity">Anime</a>
    </div>

    <div class="flex flex-col gap-y-2">
      <h1 class="pb-1 font-bold text-lg">Kontakt</h1>
      <a href="https://discord.gg/q8vGT2sxD6" target="_blank" class="text-sm hover:opacity-60 transition-opacity">Serwer Discord</a>
      <a href="mailto:kontakt@kakkoii.pl" class="text-sm hover:opacity-60 transition-opacity">kontakt@kakkoii.pl</a>
    </div>
  </div>

  <p class="text-sm text-shade-of-grey pt-10">© 2023 Copyright: KAKKOII.pl</p>
</footer>