.stepper {
  &__item {
    border-bottom: 6px solid var(--almost-white);
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-size: 14px;

    &--active {
      border-bottom: 6px solid var(--royal-blue);
    }
  }
}