<div class="h-screen w-full flex justify-center items-center z-[102]">
  <div class="w-[626px] bg-[#0F0F0F] rounded-2xl p-5">
    <div class="flex w-full justify-between items-center pb-10">
      <h1 class="text-3xl font-bold font-roboto">{{ title }}</h1>
      <button (click)="close()" type="button" class="flex justify-center items-center hover:opacity-70 transition-opacity">
        <ng-icon class="text-4xl" name="matClose"></ng-icon>
      </button>
    </div>
    <ng-content></ng-content>
  </div>
</div>