<div [ngStyle]="{'background-image': 'url(' + currentBgImage + ')'}" class="img-bg-container relative min-h-[720px] h-screen flex flex-col justify-end">
  <div class="absolute shadow-bg-container">
  </div>

  <div class="w-full z-30 pt-16 px-16 flex flex-col gap-y-3 mb-8 2xl:mb-10">
    <div class="flex gap-x-4 items-center">
      <h2 class="text-shade-of-grey text-2xl">Witamy</h2>
      <hr class="w-[378px] opacity-75">
    </div>

    <div class="font-roboto">
      <h1 class="text-almost-white font-bold text-4xl 2xl:text-7xl leading-[45px] 2xl:leading-[85px]">Oglądaj anime razem</h1>
      <h1 class="text-almost-white font-bold text-4xl 2xl:text-7xl leading-[45px] 2xl:leading-[85px]">z <span class="text-royal-blue">Kakkoii!</span></h1>
    </div>

    <div class="text-shade-of-grey py-4 2xl:py-8 text-sm 2xl:text-lg">
      <p>Wejdź do świata anime, gdzie emocje nabierają kolorów.</p>
      <p>Przeżyj z Nami wiele niesamowitych historii!</p>
    </div>

    <div class="flex gap-x-4">
      <button (click)="startWatchingButtonFn()" class="hover:opacity-80 transition-opacity bg-royal-blue rounded-sm text-white w-44 2xl:w-56 h-12 2xl:h-16 flex justify-center items-center text-base 2xl:text-lg font-bold">Zacznij oglądać</button>
      <a href="https://discord.gg/q8vGT2sxD6" target="_blank">
        <button class="hover:opacity-80 transition-opacity border-royal-blue border-solid border-2 rounded-sm text-white w-44 2xl:w-56 h-12 2xl:h-16 flex justify-center items-center text-base 2xl:text-lg font-bold">Nasze Community</button>
      </a>
    </div>
  </div>

  <div class="py-0 2xl:py-4">
    <kk-series-slider-main [series]="series" (imageChange)="changeCurrentBgImage($event)"></kk-series-slider-main>
  </div>
</div>
