@import "app/styles/fonts";
@import "app/styles/variables";
@import "app/styles/normalize";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@angular/cdk/overlay-prebuilt.css";

@import "app/styles/scrollbar";
@import "app/styles/ng-select";
@import "app/styles/swiper.scss";


body {
  background-color: var(--smoky-black);
  color: var(--almost-white);
  font-family: 'Lato', sans-serif;
}

.active-slide {
  transform: scale(1.1) !important;
}

.swiper-noevents {
  swiper-slide a {
    pointer-events: none;
  }

  swiper-slide.active-slide a {
    opacity: 1 !important;
    pointer-events: auto;

    .material-icons {
      z-index: 50;
    }
  }
}

input {
  &::placeholder {
    color: #999999;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.modal {
  background: rgba(27, 27, 27, 0.40);
  backdrop-filter: blur(3px);

  top: 0;
  position: fixed !important;
  width: 100%;
  height: 100vh;
  z-index: 101;
}